{{ define "main" }}
<p style="
    background-color: transparent;
    outline: solid;
    outline-color: var(--button-border);
    line-height: 1.75;
    padding: 1em;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
">
Find me on <a href="https://app.thestorygraph.com/profile/cbrooks288">Storygraph</a> <a href="https://app.thestorygraph.com/profile/cbrooks288"><img src="https://thegoo.se/uploads/2025/download.png" style="
    width: 2em;
    display: inline;
    padding-top: 5px;
    margin: 0 auto;
    vertical-align: bottom;
"></a></p>

</svg></p>
<h2 class="bookshelf-name">Now</h2>
<div class="bookshelf">
    {{ range .Site.Data.bookshelves.now }}
	<a href="https://micro.blog/books/{{ .isbn }}">
		<figure>
			<img 
				class="bookshelf-book-cover"
				src="{{ .cover_url }}"
				alt="{{ .title }} by {{ .author }}"
				width="150"/>
			<figcaption> {{ .title }} by {{ .author }}</figcaption>
		</figure>
	</a>
	{{ end }}
</div>
<h2 class="bookshelf-name">Read in 2024</h2>
<div class="bookshelf">
    {{ range .Site.Data.bookshelves.readin2024 }}
	<a href="https://micro.blog/books/{{ .isbn }}">
		<figure>
			<img 
				class="bookshelf-book-cover"
				src="{{ .cover_url }}"
				alt="{{ .title }} by {{ .author }}"
				width="150"/>
			<figcaption> {{ .title }} by {{ .author }}</figcaption>
		</figure>
	</a>
	{{ end }}
</div>
<h2 class="bookshelf-name">Read in 2023</h2>
<div class="bookshelf">
    {{ range .Site.Data.bookshelves.readin2023 }}
	<a href="https://micro.blog/books/{{ .isbn }}">
		<figure>
			<img 
				class="bookshelf-book-cover"
				src="{{ .cover_url }}"
				alt="{{ .title }} by {{ .author }}"
				width="150"/>
			<figcaption> {{ .title }} by {{ .author }}</figcaption>
		</figure>
	</a>
	{{ end }}
</div>
<h2 class="bookshelf-name">Read in 2022</h2>
<div class="bookshelf">
    {{ range .Site.Data.bookshelves.readin2022 }}
	<a href="https://micro.blog/books/{{ .isbn }}">
		<figure>
			<img 
				class="bookshelf-book-cover"
				src="{{ .cover_url }}"
				alt="{{ .title }} by {{ .author }}"
				width="150"/>
			<figcaption> {{ .title }} by {{ .author }}</figcaption>
		</figure>
	</a>
	{{ end }}
</div>
<h2 class="bookshelf-name"><a href="https://thegoo.se/reading_more/">More books...</a></h2>
{{ end }}
