{{ if ne .Kind "home" }}
  <link rel="alternate" href="{{ "feed.xml" | absURL }}" type="application/rss+xml" title="{{ $.Site.Title }}">
  <link rel="alternate" href="{{ "feed.json" | absURL }}" type="application/json" title="{{ $.Site.Title }}">
{{ end }}

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" href="%s" type="%s" title="%s">` .Rel .Permalink .MediaType.Type $.Site.Title | safeHTML }}
{{ end -}}

{{ $podcastEpisodeCount := len (where .Site.Pages ".Params.audio_with_metadata" "!=" nil) }}
{{ if gt $podcastEpisodeCount 0 }}
  <link rel="alternate" href="{{ "podcast.xml" | absURL }}" type="application/rss+xml" title="Podcast">
  <link rel="alternate" href="{{ "podcast.json" | absURL }}" type="application/json" title="Podcast">
{{ end }}

<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}">

{{ with .Site.Params.twitter_username }}
  <link rel="me" href="https://twitter.com/{{ . }}">
{{ end }}

{{ with .Site.Params.github_username }}
  <link rel="me" href="https://github.com/{{ . }}">
{{ end }}

{{ with .Site.Params.instagram_username }}
  <link rel="me" href="https://instagram.com/{{ . }}">
{{ end }}

{{- $background_color := $.Site.Params.faviconique_background_color -}}

{{ with resources.Get "images/favicon.png" }}
  {{ with .Resize (printf "64x64 png %s" $background_color) }}
    <link rel="icon" href="{{ .RelPermalink }}" sizes="64x64" type="image/png">
  {{ end }}
{{ end }}

{{ with resources.Get "images/favicon.svg" | resources.ExecuteAsTemplate "images/favicon.svg" . }}
  <link rel="icon" href="{{ .RelPermalink }}" sizes="any" type="image/svg+xml">
{{ end }}


<link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}">
<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth">
<link rel="token_endpoint" href="https://micro.blog/indieauth/token">
<link rel="subscribe" href="https://micro.blog/users/follow">
<link rel="webmention" href="https://webmention.io/thegoo.se/webmention" />
<link rel="pingback" href="https://webmention.io/thegoo.se/xmlrpc" />
<link rel="micropub" href="https://micro.blog/micropub">
<link rel="microsub" href="https://micro.blog/microsub">

<link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

{{ range .Site.Params.plugins_css }}
  <link rel="stylesheet" href="{{ . }}">
{{ end }}

{{ range $filename := .Site.Params.plugins_html }}
  {{ partial $filename $ }}
{{ end }}
