<p>♾️ Autistic PhD Researcher in DISN at University of Birmingham; researching autistic nonbinary experiences in school&nbsp;🏫</p>
<ul class="social-media-links">
    <li><a href="https://www.birmingham.ac.uk/schools/education/postgraduate-research/profiles/charlotte-brooks" rel="me">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/shield-of-the-university-of-birmingham.svg">
    </a>
    <a class="underlined-link" href="https://www.birmingham.ac.uk/schools/education/postgraduate-research/profiles/charlotte-brooks">
        Uni profile
    </a>
</li>
	
    <li><a href="https://www.researchgate.net/profile/Charlotte-Brooks-8" rel="me">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/researchgate-icon-svg.svg">
    </a>
    <a class="underlined-link" href="https://www.researchgate.net/profile/Charlotte-Brooks-8">
        ResearchGate
    </a></li>
	
    <li><a href="https://orcid.org/0000-0002-0204-2592" rel="me">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/orcid-id.svg">
    </a>
    <a class="underlined-link" href="https://orcid.org/0000-0002-0204-2592">
        ORCiD
    </a></li>
</ul>