<p>♾️ Autistic PhD Researcher in DISN at University of Birmingham; researching autistic nonbinary experiences in school&nbsp;🏫</p>
<!-- uob logo and researcher link -->
<p class="social-media-links">
    <a href="https://www.birmingham.ac.uk/schools/education/postgraduate-research/profiles/charlotte-brooks">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/shield-of-the-university-of-birmingham.svg" />
    </a>
    <a class="underlined-link" href="https://www.birmingham.ac.uk/schools/education/postgraduate-research/profiles/charlotte-brooks">
        Uni profile
    </a>
<span>　</span>
	<!-- researchgate logo and link -->
    <a href="https://www.researchgate.net/profile/Charlotte-Brooks-8">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/researchgate-icon-svg.svg" />
    </a>
    <a class="underlined-link" href="https://www.researchgate.net/profile/Charlotte-Brooks-8">
        ResearchGate
    </a>
<span>　</span>
	<!-- ORCiD logo and link -->
    <a href="https://orcid.org/0000-0002-0204-2592">
        <img style="width: 15px;" src="https://thegoo.se/uploads/2025/orcid-id.svg" />
    </a>
    <a class="underlined-link" href="https://orcid.org/0000-0002-0204-2592">
        ORCiD
    </a>
</p>