{{ if or ( .Params.bluesky ) ( .Params.linkedin ) }}
<span class="syndication">
    {{ if .Params.bluesky.url }}
    <a class="u-syndication icon fa-brands fa-bluesky" {{ printf "href=%q" .Params.bluesky.link | safeHTMLAttr }} ></a>
    {{ end }}  
    {{ if .Params.linkedin.activity }}
    <a class="u-syndication icon fa-brands fa-linkedin" href="https://www.linkedin.com/feed/update/{{ ( print .Params.linkedin.activity ) | safeHTMLAttr }}" ></a>    
    {{ else if .Params.linkedin.id }}
    <a class="u-syndication icon fa-brands fa-linkedin" href="https://www.linkedin.com/in/charlotte-brooks-34b7a9133/recent-activity/all/"></a>
    {{ end }}
</span> 
{{ end }}