
/*fixes iframes*/

iframe {
    height: revert-layer;
    width: calc(75% + 40px);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*iframes for youtube embed*/
iframe[src*="//youtube.com/"], iframe[src*="//www.youtube.com/"] {
    height: auto;
 }

/*image display */
.page-content p img {
    width: calc(75% + 40px);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*read more buttons*/
a.read-more {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    }

/*all links*/
a {
    border-bottom: /*1px solid var(--main-link-border)*/ none;
}

p a {
    background-color: var(--button-border);
    transition: background-color 0.2s ease-in;
    border-radius: 5px;
}

p a:hover {
    color: var(--main-link-hover);
    transition: color 0.2s ease-in;
}

/*website description*/

.site-header p {
    z-index: 1;
    position: relative;
}


.site-header h1 {
    z-index: 1;
    position: relative;
}


.site-header a {
    z-index: 1;
    position: relative;
    background-color: transparent;
    }

.underlined-link {
    border-bottom: 1px solid var(--main-link-border) !important;
    background-color: transparent;
}

.site-nav {
    z-index: 1;
    position: relative;
}

/*footnote links*/
a.footnote-ref {
    color: var(--footnote-super);
    border: none;
    background-color: transparent;
}

/*left border to blockquotes*/

blockquote {
    border-left: 2px solid var(--hr);
    margin-left: 2em;
}

/*don't wrap links in description */

.social-media-links {
    white-space: nowrap;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
}

/*footer*/
.footer-links {
    display:none;
}

/*background goose*/
/*goose colour #79bae0 */
.goose {
    width: 400px;
    margin-top: -47em;
    margin-bottom: 0em;
    width: 300px;
}

.silly-goose {
    animation: myanimation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes myanimation
{
    from {
        margin-left: -1000px;
        rotate: 0deg;
    }
    to {
        margin-left: 1000px;
        rotate: 270deg;
    }
}

/* Lightmode */
a.post-date, .post-date-wrapper > time, .microblog_time a {
    opacity: 0.6;d4d4d
    transition: opacity 0.2s ease-in;
}

:root {
    --page-background: #f0f0f0;
    --main-text: #4d4d4d;
    --main-link: #333333;
    --main-link-hover: #000000;
    --main-link-border: #e1e1e1;
    --main-link-border-hover: #000000;
    --profile-border: #f0f0f0;
    --navigation-button-border: #e4e4e4;
    --navigation-button-background: ;
    --navigation-button-border-hover: #e4e4e4;
    --navigation-button-background-hover: ;
    --navigation-text: #8c8c8c;
    --navigation-text-hover: #4d4d4d;
    --heading-color: #000000;
    --button-border: #e4e4e4;
    --button-background: ;
    --button-border-hover: #e4e4e4;
    --button-background-hover: ;
    --button-text: #8c8c8c;
    --button-text-hover: #4d4d4d;
    --hr: #f0f0f0;
    --blockquote-border: #000000;
    --blockquote-background: ;
    --blockquote-text: #4d4d4d;
    --code-border: #e4e4e4;
    --code-background: #fafafa;
    --pre-border: #e4e4e4;
    --pre-background: ;
    --note: #FFF9C4;
    --alert: #FAD2D2;
    --aside: #F5F5F5;
    --callout: #DDEBF7;
    --conversation-background: ;
    --comment-border: #e4e4e4;
    --footnotes: #8c8c8c;
    --footnote-super: #000000;
    --page-fold: #F5F5F5;
    --video-placeholder: #fafafa;
    --comment-form-background-color: #fafafa;
    --comment-form-border-color: #fafafa;
    --shared-note: #FFF9C4;
    --red-text: #ff0000;
    --highlight: #FFFF00;
}

/* Darkmode */

@media (prefers-color-scheme: dark) {
    :root {
        --page-background: #091D28;
        --main-text: #ECF5FB;
        --main-link: #79bae0;
        --main-link-hover: #ECF5FB;
        --main-link-border: #ECF5FB;
        --main-link-border-hover: #ECF5FB;
        --profile-border: #1f3c4d;
        --navigation-button-border: #1f3c4d;
        --navigation-button-background: ;
        --navigation-button-border-hover: #1f3c4d;
        --navigation-button-background-hover: ;
        --navigation-text: #79bae0;
        --navigation-text-hover: #ECF5FB;
        --heading-color: #ECF5FB;
        --button-border: #1f3c4d;
        --button-background: ;
        --button-border-hover: #1f3c4d;
        --button-background-hover: ;
        --button-text: #79BAD3;
        --button-text-hover: #ECF5FB;
        --hr: #1f3c4d;
        --blockquote-border: #ECF5FB;
        --blockquote-background: ;
        --blockquote-text: #ECF5FB;
        --code-border: #ECF5FB;
        --code-background: #ECF5FB;
        --pre-border: #ECF5FB;
        --pre-background: ;
        --note: #FFF9C4;
        --alert: #FAD2D2;
        --aside: #F5F5F5;
        --callout: #DDEBF7;
        --conversation-background: ;
        --comment-border: #ECF5FB;
        --footnotes: #79bae0;
        --footnote-super: #ECF5FB;
        --page-fold: #ECF5FB;
        --video-placeholder: #ECF5FB;
        --comment-form-background-color: transparent;
        --comment-form-border-color: #1f3c4d;
        --shared-note: #FFF9C4;
        --red-text: #ff0000;
        --highlight: #FFFF00;
    }
}

/* bookshelf page */

h2.bookshelf-name {
    background-color: var(--button-border);
    max-width: 700px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 27px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 27px;
}

h2.bookshelf-name a {
    border-bottom: 1px solid var(--main-link-border);
    }

h2.bookshelf-name a:hover {
    color: var(--main-link-hover);
    transition: color 0.2s ease-in;
    }

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
    gap: 20px;
    max-width: 700px;
    padding-left: 1em;
    padding-right: 1em;
}

.bookshelf .bookshelf-book-cover {
    border-radius: 5px;
    max-width: 124px;
    aspect-ratio: 1 / 1.5;
    object-fit: cover;
    margin-bottom: 0;
}

.bookshelf figure:hover figcaption {
    opacity: 1;
    border-radius: 5px;
    transform: rotateY(0deg);
    transition: transform 0.4s, opacity 0.1s;
    box-sizing: border-box;
    padding: 1em;
    overflow: hidden;
}

.bookshelf figcaption {
    background-color: rgba(0, 0, 0, 0.75);
}

figure {
    display: inline-block;
    position: relative;
}

figcaption {
    background-color: rg(0, 0, 0, 0.4);
    padding: 5 10 5 10;
    position: absolute;
    bottom: 0px;
    font-size: 0.9em;
    left: 0px;
    color: var(--button-text-hover);
    text-align: left;
}

.bookshelf figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    transition: transform 0.4s, opacity 0.1s 0.3s;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
}